body {
  font-family: Montserrat, sans-serif;
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  background-image: url('images/photo-6.jpg');
  background-size: 790px auto;
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.container {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  margin: 0;
  padding: 0;
}
.card {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 500px;
  background-color: #F7F7FA;
  margin: 22.5px;
  padding: 25px;
}
.card:hover {
  transition: 0.1s;
  box-shadow: 0px 4px 20px rgba(15, 39, 82, 0.26);
  transform: translateY(-5px);
}
.rating {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.star {
  color: #f5c518;
}
.grade { 
  color: #0b9e17;
}
.trending {
  border: 5px solid hwb(214 64% 28% / 0.445);
  background-color: #e1eafc;
}
.card-img {
  width: 290px;
  height: 245px;
}
.product-list {
list-style-type: none;
display: flex;
flex-wrap: wrap;
}
.purpose {
  display: block;
}
.price {
  line-height: 24px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.name-product {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
.description {
  width: 287px;
  height: 36px;
  margin: 0;
}
.card-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}